<p>こんにちは！</p>
<br>
<p><%= @family.name %>の<%= @host_user.nickname %>さんがあなたをCAPPYに招待しています。</p>
<p>下記URLよりユーザー登録を行ってください。</p>
<p><%= link_to "登録をする", invite_signup_url(@family.id) %></p>
<br>
<p>お心当たりがない場合は、本メッセージを破棄してください。</p>
<br>
<p>Cappy</p>