<!--あとで見た目整える予定-->

<div class="container">
    <div class="sub-container shadow bg-white rounded">
        <%= form_with model: @invitation, local: true do |f| %>
            <div class="form p-5">
                <%= f.hidden_field :family_id, vlue: @user.family_id %>
                <div class="form-group row mt-2">
                    <label for="email" class="col-sm-4 col-form-label">招待したいユーザーのメールアドレス</label>
                    <%= f.text_field :email, autocomplete: "email", class: "col-sm-8 form-control #{"is-invalid" if f.object.errors.messages[:email].present? }" %>
                    <div class="invalid-feedback">
                        メールアドレスを入力してください。
                    </div>
                </div>
            </div>
            <div class="form-group">
                <%= f.submit "招待メールを送信する", class: "btn new-submit-button p-2 w-100" %>
            </div>
        <% end %>
    </div>
</div>
