
.side-nav {
    // height: 100%;
    text-align: center;
    background-color: white;
    padding: 10px 4rem;

    .side-main {
        padding: 0;
        ul {
            float: right;
            margin-bottom: 0;
        }
        li {
           float: left;
           margin-right: 2rem;
        }
        img {
            width: 60px;
        }
    }
    
    .row {
        --bs-gutter-x: 0;
    }
}

.side-icon {
    text-align: left;
    img {
    margin-left: 0;
    margin-right: 1rem;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    }
    
}

