
.side-nav {
    height: 100%;
    text-align: center;
    background-color: white;
    
    .side-main {
        img {
            width: 24px;
        }
    }

    ul {
        padding: 0;
    }
    
    li {
       padding-bottom: 20px; 
    }
}

.side-icon {
    img {
    margin-right: 10px;
    margin-left: 5px;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    }
    
}

