<p>こんにちは！</p>
<br>
<p>下記リンクよりユーザー登録を完了してください。</p>
<p><%= link_to 'メールアドレス確認', controller: 'users/confirmations', action: 'create', confirmation_token: @token %></p>
<br>
<p>心当たりがない場合は、本メッセージを破棄してください。</p>
<br>
<p>Cappy</p>