<div class="container text-center">
  <div class="sub-container shadow p-4 bg-white rounded">
      <img width="20" src="/images/ポスト.png">
      <div class="message mt-4 mb-5">
          <p class="text-center">
            ご本人様確認用メールを送信しております。<br>
            メール本文内のURLをクリックしてください。
          </p>
      </div>
  </div>
</div>
